version: 0.1
log:
  fields:
    service: registry
storage:
    cache:
        blobdescriptor: inmemory
    swift:
      username: "{{getenv "SWIFT_USERNAME"}}"
      password: "{{getenv "SWIFT_PASSWORD"}}"
      authurl: "{{getenv "SWIFT_AUTH_URL"}}"
      tenant: "{{getenv "SWIFT_TENANT_NAME"}}"
      container: "{{getenv "SWIFT_CONTAINER"}}"
      region: "{{getenv "SWIFT_REGION"}}"
      rootdirectory: /registry
http:
    addr: :5000
    headers:
        X-Content-Type-Options: [nosniff]
    tls:
      certificate: /certs/registry.crt
      key: /certs/registry.key
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
auth:
  token:
    realm: "{{getenv "AUTH_REALM"}}"
    service: "my.docker.registry"
    issuer: "Camptocamp Registry auth server"
    rootcertbundle: /certs/auth.crt
